<!-- Notification Row Section -->
<div class="row">
    <app-nofificationrow></app-nofificationrow>
</div>
<!-- Main Content Section -->
<div class="row">
    <!-- Card Component Section (Occupying 8/12 of the row width) -->
    <div class="col-8">
        <app-cards></app-cards>
    </div>
    <div class="col-4">
        <app-expense-flow-chart></app-expense-flow-chart>
    </div>
</div>


<!-- Transaction and Chart Section -->
<div class="row">
    <!-- Latest Transaction Section (Occupying 8/12 of the row width) -->
    <div class="col-8">
        <app-latesttransaction></app-latesttransaction>
    </div>

    <!-- Income-Expense Chart Section (Occupying 4/12 of the row width) -->
    <div class="col-4">
        <app-income-expense-chart></app-income-expense-chart>
    </div>
</div>
